[submodule "Calculators"]
	path = Calculators
	url = https://github.com/geobruce/Calculators
[submodule "drawer-label-generator"]
	path = drawer-label-generator
	url = https://github.com/geobruce/drawer-label-generator
[submodule "G-Code-Explorer"]
	path = G-Code-Explorer
	url = https://github.com/geobruce/G-Code-Explorer.git
